.sectionEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.formTask {
  display: flex;
  gap: 1em;
}

.inputTask {
  border-radius: 10px;
}

.editButton {
  place-self: end;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(17, 97, 150);
}

.cancelButton {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(113, 124, 129);
}
